.albumliste{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.titre-decouverte{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    background-color: rgb(48, 125, 82);
    padding: 15px;
    margin-top: 50px;
}

.quiz-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question-container {
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

.quiz {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacement entre les quiz */
    padding: 20px; /* Espacement autour des quiz */
}